@model blog.Models.POCO.Post
@{
    ViewBag.Title = "Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container-create-post:hover {
        transform: translateY(5px);
    }
</style>
<br />

<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true">
    </div>
    <div class="container container-create-post shadow p-5" style="transition:all ease 0.3s;background:#ddd;border-radius:10px">

        <div class="d-flex justify-content-center" style="text-transform:uppercase">
            <h3>Edit Post</h3>
        </div>

        @using (Html.BeginForm("Edit", "Post", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=> m.UserID)
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "font-weight-bold", @style = "text-align:center;font-size: 24px;", @for = "title" })
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title", @style = "background-color: white" } })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "font-weight-bold", @style = "text-align:center; font-size: 24px;", @for = "description" })
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Description", @style = "background-color: white", @height = "auto", @rows = "7" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>

            <button class="btn btn-secondary" type="submit">
                Edit Post
            </button>
        }
    </div>
</div>