@model IEnumerable<blog.Models.POCO.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../../Content/bg-7.png');
        "}
</style>

<br />
<div class="row">    
    <div class="col-lg-12 margin-tb">        
        <div class="pull-left">
            <h2 style="font-weight: bold;margin-top:20px">All My Posts</h2>
        </div>
        <div class="pull-right mr-5">
            <a class="btn btn-success" href="../Post/Create"> Create New Post</a>
        </div>
    </div>
</div>
@if (ViewBag.Message != "")
{
    <div class="alert alert-@ViewBag.Status">
        <strong>@ViewBag.Message</strong>
    </div>
}

<table class="table table-bordered table-hover" style="table-layout: fixed">
    <tr>
        <th width="50px">No</th>
        <th>Title</th>
        <th>Description</th>
        <th width="280px">Action</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>1</td>
                <td style="word-wrap: break-word">@Html.DisplayFor(modelItem => item.Title)</td>
                <td style="word-wrap: break-word">
                    @Html.Raw(item.Description.Length > 50 ? item.Description.Substring(0, 50) : item.Description)
                </td>
                <td>
                    <a class="btn btn-info" href="../Post/Show/@item.PostID">Show</a>
                    <a class="btn btn-primary" href="../Post/Edit/@item.PostID">Edit</a>
                    @using (Html.BeginForm("Delete", "Post", new { id = @item.PostID }, FormMethod.Post, new { id = "delete-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="btn btn-danger" href="" onclick="event.preventDefault();
                                                                document.getElementById('delete-form').submit();">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>