@model Tuple< blog.Models.POCO.Post, List<blog.Models.POCO.Comment>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('/Content/home-bg.jpg');
        }

</style>


<div class="container mt-5 mb-5 ">
    <div class="d-flex justify-content-center row">
        <div class="col-md-12">
            <div class="col-md-12">
                @if (ViewBag.Message != "")
                {
                    <div class="alert alert-@ViewBag.Status">
                        <strong>@ViewBag.Message</strong>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-8">
            <a href="/Post/Index" class="font-weight-bold" style="color:dark;">Kembali</a>
            <div class="card mb-4 p-4">
                <h5 class="card-title">@Html.DisplayFor(modelItem => modelItem.Item1.Title)</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @Html.DisplayFor(modelItem => modelItem.Item1.User.FullName)</h6>
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => modelItem.Item1.Description)</p>
                </div>
            </div>

            <!-- BUAT KOMENTAR -->
            <h5> Tambahkan Komentar </h5>
            @using (Html.BeginForm("CreateComment", "Post", new { id = Model.Item1.PostID }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <textarea name="description" class="form-control" rows="3"></textarea>
                </div>
                <button class="btn btn-primary mb-5" type="submit">Add Comment</button>
            }

            <!-- DAFTAR KOMENTAR -->
            <h3 class="text-white mb-3">Komentar </h3>
            @foreach (var comment in Model.Item2)
            {
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Author: @comment.User.FullName</h3>
                    </div>
                    <div class="card-body">
                        <p>@comment.Description</p>

                        @if (comment.User.Email == HttpContext.Current.User.Identity.Name)
                        {
                            using (Html.BeginForm("DeleteComment", "Post", new { id = @comment.CommentID }, FormMethod.Post, new { id = "delete-form" }))
                            {
                                <input type="hidden" value="@comment.PostID" name="postID" />
                                @Html.AntiForgeryToken()
                                <a class="btn btn-danger" href="" onclick="event.preventDefault();
                                                                        document.getElementById('delete-form').submit();">
                                    Delete
                                </a>
                                <a class="btn btn-warning" href="/Post/UpdateComment/@comment.CommentID">
                                    Update
                                </a>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>